extends layout

block content
  div(class='card')
    img(src='images/bolao.jpeg')
    div(class='tab')
      button(class='tablinks', onclick="openTab(event, 'leaderboardTab')")='Leaderboard'
      button(class='tablinks', onclick="openTab(event, 'betsTab')")='Apostas'
      button(class='tablinks', onclick="openTab(event, 'sleepScoreTab')")='Nota do Sono'
      button(class='tablinks', onclick="openTab(event, 'warningmessage')")='Mensagem de Aviso'
    
    div(id='leaderboardTab',class='tabcontent')
      div(class='loader',id='loaderLeaderboard')

    div(id='sleepScoreTab',class='tabcontent')
      ul
        li
          label(for='sleepScore')='Nota do Sono'
            input(id='sleepScore', type='text')

    div(id='betsTab',class='tabcontent')

    div(id='warningmessage',class='tabcontent')
      div(class='loader')
      textarea(id='whatsappWarningMessage', rows="2")
