doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/betsTab.css')
    link(rel='stylesheet', href='/stylesheets/sleepScoreTab.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src='/javascripts/main.js')
  body
    block content
  script(src='/javascripts/event.js')
