#sleepScoreTab ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;	
	list-style:none;
	padding:0;
	margin-top: 5vh;	
}

#sleepScoreTab li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
	width: auto;
}

#sleepScoreTab li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: auto;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	overflow: hidden;
	width: 110px;
}

#sleepScoreTab input[type="text"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
  text-align: center;
}